{% extends '/base.html.twig' %}

{%  block title %}AdminiModification - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center">Modification du plugin: {{plugins.name}}</h2>
    <div class="mb-5"></div>
    <hr>
    <div class="mb-5"></div>
    	{% if notification %}
			<div class="alert alert-success">{{ notification }}<br>
			</div>
		{% endif %}
    {{ form_start(form_plugin_modify_front) }}
    <div class="row">
        <div class="col">                    
            {{ form_row(form_plugin_modify_front.name) }}
            {{ form_row(form_plugin_modify_front.link) }}
            {{ form_row(form_plugin_modify_front.purchaseddate) }}
            {{ form_row(form_plugin_modify_front.expirationdate) }}</div>
        <div class="col">
            {{ form_row(form_plugin_modify_front.duration) }}
            {{ form_row(form_plugin_modify_front.price) }}
            {{ form_row(form_plugin_modify_front.customer) }}
            {{ form_row(form_plugin_modify_front.cms) }}
        </div>
    </div>
    {{ form_row(form_plugin_modify_front.submit) }}
    {{ form_end(form_plugin_modify_front) }}
</div>
{% endblock %}