{% extends '/base.html.twig' %}

{% block title %}Administration - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2 class="text-center">Bienvenue dans l'administration {{app.user.firstname}}</h2>
    <div class="mb-5"></div>
    <div class="row">
        <div class="col">
            <h3 class="text-center color-blue-dark-shebam mb-3">Listes des différentes rubriques</h3>
            <hr>
            <div class="mb-5"></div>
            <p class="text-center">Nombres de plugins achetés: <span>{{ totalPlugins }}</span></p>
            <p class="text-center">Nombres de thèmes achetés: <span>{{ totalThemes }}</span></p>
            <p class="text-center">Nombres d'accompagnements mensuels: <span>{{ totalMonthlysSupport }}</span></p>
            <p class="text-center">Nombres des Tickets WEB SHEBAM: <span>{{ totalTicketsShebamWeb }}</span></p>

        </div>
        <div class="col">
            <h3 class="text-center color-blue-dark-shebam mb-3">Liste des utilisateurs</h3>
            <hr>
            <div class="mb-5"></div>	
            <table class="table mb-5" data-toggle="true">
                <thead class="bg-grey-shebam color-white-shebam font-weight-bold">
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                        {% for user in user %}
                            <tr class="bg-white-shebam">

                                <td>{{user.firstname}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.email}}</td>
                                <td>                        
                                    {# On boucle sur les rôles #}
                                    {% for role in user.roles %}
                                        {% if role == "ROLE_USER" %}
                                            Utilisateur
                                        {% elseif role == "ROLE_PRO" %}
                                            Entreprise
                                        {% elseif role == "ROLE_ADMIN" %}
                                            Administrateur
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('user_modify_admin', {"id": user.id}) }}"><i class="fas fa-cog"></i></a>
                                        |
                                    <a href="{{ path('delete_user_back', {"id": user.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un utilisateur')"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>       
        </div>
    </div>
</div>

{% endblock %}