{% extends 'base.html.twig' %}

{% block content %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%  block title %}Liste - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
    </style>
</head>
	{% block body %}
	<div class="container">
		<div class="mb-5">
		<h1 class="text-center color-blue-dark-shebam mb-3">Liste des Rappels</h1>
		<hr style="margin-bottom: 150px;">
        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_USER')%}
		<div class="row">
			<div class="col">
				<div class="card text-center">
					<div class="card-header">Plugins</div>
					<div class="card-body">
						<p class="card-text">Découvrez la liste des plugins</p>
					</div>
					<div class="card-footer text-muted">
						<a href="{{ path('plugins') }}" class="btn btn-blue-shebam">En savoir plus</a>
					</div>
				</div>			
			</div>
			<div class="col">
				<div class="card text-center">
					<div class="card-header">Thèmes</div>
					<div class="card-body">
						<p class="card-text">Découvrez la liste des thèmes</p>
					</div>
					<div class="card-footer text-muted">
						<a href="{{ path('themes') }}" class="btn btn-blue-shebam">En savoir plus</a>
					</div>
				</div>			
			</div>
		</div>
		<div class="mb-4"></div>
		<div class="row">
			<div class="col">
				<div class="card text-center">
					<div class="card-header">Accompagnements Mensuels</div>
					<div class="card-body">
						<p class="card-text">Découvrir la liste des clients</p>
					</div>
					<div class="card-footer text-muted">
						<a href="{{ path('monthlys_support') }}" class="btn btn-blue-shebam">En savoir plus</a>
					</div>
				</div>			
			</div>
			<div class="col">
				<div class="card text-center">
					<div class="card-header">Tickets WEB Shebam</div>
					<div class="card-body">
						<p class="card-text">Découvrir la liste des clients </p>
					</div>
					<div class="card-footer text-muted">
						<a href="{{ path('tickets_shebam_web') }}" class="btn btn-blue-shebam">En savoir plus</a>
					</div>
				</div>		
			</div>
		</div>
		{% else %}
        	<p class="text-center mb-4 mt-4">Connecte-toi pour pouvoir gérer la liste des rappels !</p>
        {% endif %}
	</div>
	{% endblock %}
</html>
{%  endblock %}